#
# .bazelrc
#

# Disable workspace
common --noenable_workspace

# Enable Bzlmod
build --enable_bzlmod

# Platform configuration
build --platforms=@toolchains_llvm//platforms:linux-x86_64
build --host_platform=@toolchains_llvm//platforms:linux-x86_64

# Toolchain configuration
build --incompatible_enable_cc_toolchain_resolution
build --extra_toolchains=@llvm_toolchain//:all

# Debugging and verbosity
build --verbose_failures=true

# end