#
# .bazelrc
#

common --noenable_workspace

build --enable_bzlmod

build --platforms=@toolchains_llvm//platforms:linux-x86_64
build --host_platform=@toolchains_llvm//platforms:linux-x86_64

# @<origin module>+<extension name>+<tag name>
#build --extra_toolchains=@llvm_toolchain//:cc-toolchain-x86_64-linux

# DO NOT use this when using platforms + toolchains manually
build --incompatible_enable_cc_toolchain_resolution
#build --noincompatible_enable_cc_toolchain_resolution

# build --disable_auto_configure

# # Configure the C++ toolchain
# build --action_env=CC=clang
# build --action_env=CXX=clang

# # Tool flags
# build --copt=-fPIC
# build --host_copt=-fPIC
# build --cxxopt=-std=c++17
# build --host_cxxopt=-std=c++17

# # Compiler configuration
# build --compiler=clang
# build --host_compiler=clang

# end